html{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*{
	box-sizing: border-box;
}

section{
	width: 100vw;
}

body{
	margin: 0px 0px;
	margin-top: -4vh;
	padding: 0px;
	font-size: 1.2rem;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}


#body-header::before{
	content: '';
	filter: blur(2px);
	display: block;
	opacity: 0.8;
	background-image: url(images/bg3-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#body-header{
    
    width: 100vw;
    height: 75vh;
    padding: 1.2rem 0px;
    z-index: 1;
}

.horizontal-list{
	padding: 0;
}

.horizontal-list li{
	list-style: none;
	display: inline-block;
	margin: 3vh 1vw;
}

.horizontal-list li a{
	text-decoration: none;
	color:  white;
	display: block;
	height: inherit;
	width: inherit;
}

.nav-menu{
	box-sizing: border-box;
}

.nav-menu li a{
	transition: all 0.3s;
}

.nav-menu li a:hover{
	/*border-bottom: 1px solid white;*/
	text-decoration: underline;
	color: #e0dfdf;
}


.text-center{
	text-align: center;
}


#mobile-nav{
	/*border: 2px solid red;*/
	/*background-color: rgba(0,0,0,0);*/
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	display: none;
}

#hamburger-icon{
	color: white;
	font-size: 2rem;
	/*border: 2px solid green;*/
	text-align: right;
	box-sizing: border-box;
	padding-right: 4vw;
	/*background-color: rgba(0,0,0,0);*/

}

#hamburger-icon a{
	color: white;
	/*background-color: rgba(0,0,0,0);*/
}

#hamburger-icon a: visited{
	color: white;
	/*background-color: rgba(0,0,0,0);*/
}

#hamburger-menu{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	top: -10vh;
	z-index: 3;
	/*background-color: rgba(0,0,0,0);*/
	height: 0;
	width: 0;
	overflow: hidden;
}

#hamburger-menu:target{
	color: orange;
	/*border: 4px solid red;*/
	height: auto;
	width: auto;
}

#hamburger-menu>li{
	/*display: inline-block;*/
	box-sizing: border-box;
	text-align: center;
	border-bottom: 2px solid whitesmoke;
	width: 50vw;
	height: 7.7vh;
	position: relative;
	z-index: 3;
	background-color: rgba(105, 104, 104, 0.8);
}

#hamburger-menu>li:first-child{
	text-align: right;
	padding-right: 4vw;
	font-weight: bold;
	font-size: 1.5em;
	background-color: rgba(105, 104, 104, 1);
}

#hamburger-menu>li>a{
	display: block;
	width: 100%;
	height: inherit;
	color: white;
	text-decoration: none;
	/*padding-right:4vw;*/
	padding: 2vh 0;
	/*border: 2px solid brown;*/
}

#hamburger-menu>li:hover{
	background-color: rgba(105, 104, 104, 1);
}

#hamburger-menu>li>a:hover{
	text-decoration: underline;
}

/*#hamburger-icon:visited{
	width: 0;
	height: 0;
}*/

#name-social-container{
	color: white;
	margin: 2rem;
}

#name-social-container h1{
	font-size: 4rem;
	text-align: center;
	margin-top: 8vh;
	margin-bottom: 12vh;
}

ul.social-icons{
	margin-bottom: 0;
}

.social-icons li{
	width: 3rem;
	height: 3rem;
	/*border: 2px solid red;*/
	border-radius: 50%;
	transition: box-shadow 0.2s;
	position: relative;
}


.social-icons i {
    color: white;
    font-size: 1.5rem;
    /* border: 2px solid white; */
    border-radius: 50%;
    padding-top: 10px;
}

.social-icons li:hover{
	box-shadow: 0px 0px 6px 4px white;
}

#about{
	border: 2px solid orange;
}

#about-img{
	width: 13rem;
	height: 13rem;
	margin: auto;
    position: relative;
    margin-top: -13vh;
	z-index: 1;

}

#about-img img{
	width: 100%;
	height: 100%;;
	border-radius: 50%;
	border: 2px solid #dce0dd;
	box-shadow: 0px 0px 3px 3px white;
	z-index: -1;
}

.desc{
	margin: auto;
	width: 80%;
	padding: 2rem;
	font-size: 1.2rem;
	/*font-family: sans-serif;*/
	color: dimgray;
}

.info-container{
	/*border: 2px solid black;*/
	min-height: 60vh;
	margin-top: 5vh;
}

.info-container>h1{
	text-align: center;
	/*border: 2px solid purple;*/
	/*height: 20%;*/
	color: blue;
	/*font-family: sans-serif;*/
	padding: 3%;
	font-size: 1.6em;
}

.info-container>h1>i{
	margin-right: 0.5em;
}
.flex-container{
	/*border: 2px solid brown;*/
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: space-around;
}

.skill-container{
	background-color: #c7c7c7;
	height: auto;
	width: 10vw;
	min-width: 100px;
	border-radius: 1rem;
	margin: 5vh 7vw;
	overflow: hidden;
}

.skill-bar{
	height: inherit;
	/*width: 70%;*/
	border-radius: 1rem 0 0 1rem;
	color: whitesmoke;
	padding: 0.3rem 0px;
}

.percent50{
	width: 50%;
}

.percent60{
	width: 60%;
}

.percent70{
	width: 70%;
}

.skill-container:nth-child(4n) .skill-bar{
	background-color: darkorange;
}

.skill-container:nth-child(4n+1) .skill-bar{
	background-color: darkblue;
}

.skill-container:nth-child(4n+2) .skill-bar{
	background-color: rosybrown;
}

.skill-container:nth-child(4n+3) .skill-bar{
	background-color: darkgreen;
}

.skill-bar span{
	margin: 0.7rem;
	font-size: 1rem;
}

section:nth-child(2n){
	background-color: #dbdbdb;
}

section:nth-child(2n+1){
	background-color: white;
}

.project-container{
	/*border: 2px solid brown;*/
	width: 15vw;
	min-width: 200px;
	margin: 2vh;
	height: auto;
	/*background-color: rgba(106, 247, 67, 1);*/
	position: relative;
	transition: all 0.3s;
}

.project-container a{
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	/*border:  2px solid orange;*/
	/*background-image: url("https://www.w3schools.com/css/img_forest.jpg");*/
	opacity: 0;
	transition: all 0.3s;
	background-color: rgb(255, 255, 255, 0.7);
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: #595959;
	border: 3px solid gray;
	box-sizing: border-box;
}

.project-container img{
	width: 100%;
	height: 100%;
}

.project-container a:hover{
	/*background-color: rgba(106, 247, 67, 0.6);*/
	opacity: 1;	
	/*background-color: yellow;*/
}

.project-container:hover{
	background-color: red;
}

#contact .flex-container>div{
	/*border:  2px solid brown;*/
	width: 45%;
	/*min-width: 500px;*/
	padding: 10px;
	margin: 20px 10px;
}

#contact{
	background: linear-gradient(to right, blue, purple);
}

#contact-form input, #contact-form textarea{
	border: none;
	border-bottom: 2px solid white;
	margin: 20px 10px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	padding: 5px;
	width: 80%;
	/*font-family: serif;*/
	font-size: 1em;
}

#contact-form textarea{
	height: 10vh;
}

#contact-form ::placeholder{
	color: #e3e3e3;
}

#contact-form input:focus{
	outline: none;
}

#contact-form textarea:focus{
	outline: none;
}

#contact-form button{
	border: 2px solid white;
	margin: 10px;
	padding:5px 10px;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	border-radius: 3px;
	color: white;
	opacity: 0.85;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	transition: all 0.1s;
}

#contact-form button:hover{
	opacity: 1;
	box-shadow: 0px 0px 4px 1.5px;
}


#contact h1 span{
	color: whitesmoke;
}
#contact-info{
	color: white;
}

#contact-list{
	list-style: none;
	line-height: 2;
}

#contact-list li>span{
	margin-left: 1rem;
}

#timeline{
	position: relative;
	width: 100%;
	/*height: 60%;*/
	/*border: 2px solid black;*/
	/*background-color: yellow;*/
	box-sizing: border-box;
}

.timeline-box{
	position: relative;
	width: 45%;
	min-height: 20vh;
	border: 2px solid #828282;
	margin: 20px 10px;
}

.timeline-box:nth-child(2n +1)::after{
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border: 2px solid #c40c02;
	background-color: #c40c02;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: -11.5%;
	z-index: 1;
}

.timeline-box:nth-child(2n)::before{
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border: 2px solid #c40c02;
	background-color: #c40c02;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 107.2%;
	z-index: 1;
}

.timeline-box:nth-child(2n){
	left: 53%;
}

#path{
	border: 3px dashed #703030;
	height: 79%;
	width: 0px;
	/*background-color: brown;*/
	position: absolute;
	left: 50%;
	top: 10%;
	/*font-size: 2rem;*/
}

#traveller{
	transform: rotate(90deg);
	position: sticky;
	top: 25%;
	font-size: 1.5rem;
	z-index: 3;
}

@media screen and (max-width: 700px){
	.nav-menu{
		display: none;
		/*background-color: blue;*/
	}

	.timeline-box{
		width: 75%;
	}
	.timeline-box:nth-child(2n)::before{
		content: '';
		display: none;
	}


	.timeline-box:nth-child(2n){
		left: 0px;
	}

	.timeline-box:nth-child(2n)::after{
		content: '';
		display: inline-block;
		width: 0.5rem;
		height: 0.5rem;
		border: 2px solid #c40c02;
		background-color: #c40c02;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		z-index: 1;
		right: -20.5%
	}

	.timeline-box:nth-child(2n+1)::after{
		right: -20.5%
	}

	#path{
		left: 90%;
		top: 10%;
		/*font-size: 2rem;*/
	}

	#mobile-nav{
		display: block;
	}

	.project-container a{
		background-color: rgb(255, 255, 255, 0.6);
		opacity: 1;
}


}

@media screen and (max-width: 800px){
	#contact .flex-container>div{
		width: 100%;
	}
}

@media screen and (max-width: 320px){
	#name-social-container h1{
		font-size: 2rem;
	}
}